#parse("_header.html")
<div id="content">
    <div class="post">
        <h1 class="post-title">${Model.post.title}</h1>
        <div class="post-meta">
            <span class="post-author">${Model.post.author.link}</span>
            <span class="post-date">$Model.post.PostTime.tostring("yyyy-MM-dd")</span>
            <span class="post-category">${Model.post.category.link}</span>
            <span class="post-view">浏览(${Model.post.viewcount})</span>
            <span class="post-comment"><a href="#comments">评论($Model.post.commentcount)</a></span>
        </div>
        <div class="post-content">
           博客正文： ${Model.post.postcontent}
        </div>
        <div class="post-tag">标签:
            #foreach($item in $Model.post.tags)
            <a href="${item.url}" title="${item.description}">${item.catename}</a>(${item.postcount})
            #end
        </div>
        #*
        <div>
            上一篇: #if($Model.post.previous.postid>0) ${Model.post.previous.link} #else 没有了 #end
            <br />
            下一篇: #if($Model.post.next.postid>0) ${Model.post.next.link} #else 没有了 #end
        </div>
        *#
        <h3>相关文章</h3>
        <ul class="post-related">
            #foreach($item in $Model.post.relatedposts)
            <li><a href="${item.url}">${item.title}</a>(${item.viewcount})</li>
            #end
        </ul>
        #parse("_comment.html")
    </div>
</div>
#parse("_sidebar.html")
#parse("_footer.html")